QWidget{
    font-size: 13px;
}

QDialog#BTBackupProgressDialog{
    background-color: #333333;
}

QLabel{
    color: #f0ffff;
}

QProgressBar{
    color: #f0ffff;
    background: transparent;
    border: 1px solid #515151;
    border-radius: 1px;
    text-align: center;
}

QProgressBar::chunk{
    background-color: #254158;
    border-radius: 1px;

}


QTextEdit{
    color: #f0ffff;
    background-color: transparent;
    border: 1px solid #515151;
    selection-background-color: #254158;
}
